<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Công ty tư vấn đào tạo và giáo dục BUD</title>
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->


<body id="home" class="homepage">

    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="images/logo.png" alt="logo" height="85px"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll"><a href="/">Trang chủ</a></li>
                        <li class="scroll"><a href="/#about">Giới thiệu</a></li>
                        <li class="scroll"><a href="/#portfolio">Chương trình học</a></li>
                        <li class="scroll"><a href="/#services">Phương pháp</a></li>
                        <li class="scroll"><a href="/gallery">Thư viện ảnh</a></li>
                        <li class="scroll active"><a href="/charity">Góc từ thiện</a></li>
                        <li class="scroll"><a href="#get-in-touch">Liên hệ</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
    

    

    <section id="meet-team"> 
        <div class="container">
            <div class="section-header">
	      <h2 class="section-title text-center wow fadeInDown">Hoạt động từ thiện</h2>
	      <p class="text-center wow fadeInDown">Build Universal Dream – Xây dựng giấc mơ toàn cầu</p>
            </div>

            <div class="row">
	      <h3 class="wow fadeInDown">Operation Smile - Phẫu thuật nụ cười</h3>
	      <center><iframe src="http://slide.ly/gallery/embed/63a770dd5ca61c3932ee5b448d0cf116" width="90%" height="504" frameborder="0" scrolling="no" 
	      allowfullscreen></iframe></center>
            </div>

        </div>
    </section>
    
    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Liên hệ</h2>
                <p class="text-center wow fadeInDown">Hãy liên hệ với chúng tôi nếu bạn cần thêm thông tin nhé!</p>
            </div>
        </div>
    </section><!--/#get-in-touch-->


    <section id="contact">
        <div id="google-map" style="height:650px" data-latitude="21.033934" data-longitude="105.759736"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-7">
                        <div class="contact-form">
                            <h3>Thông tin liên hệ</h3> 

                            <address>
                              <strong>CÔNG TY TƯ VẤN ĐÀO TẠO VÀ GIÁO DỤC BUD</strong><br>
                              <b>0911.501.958 – 0911.501.957 – 0911.501.956</b><br>
                              Email: <a href="mailto:giasubud@gmail.com">giasubud@gmail.com</a> <br>
			      Web : <a href="http://giasu.bud.edu.vn">http://giasu.bud.edu.vn</a> <br>
			      <br>
                              VP1: P.2605 Tòa nhà Vinaconex7 số 61,đường K2, Nam Từ Liêm<br>
                              VP2: P.720 Nơ 3 Bán đảo Linh Đàm – Hoàng Liệt – Hoàng Mai – Hà Nội<br>                              
                            </address>

			    <form action="https://postmail.invotes.com/send" method="post" id="email_form">

			      <input type="text" name="subject" placeholder="Chủ đề" style="width:80%"/>
			      <textarea name="text" placeholder="Nội dung" style="height: 135px; width: 80%;"></textarea>
			      <input type="hidden" name="access_token" value="ne17ecmreb0fv8f2fuuoxq3n" />
				<!-- return urls can be fully qualified -OR-
				  start with / for root relative -OR-
				  start with . for url relative --> 
			      <input type="hidden" name="success_url" value=".?message=Email+Đã+Gửi%21&isError=0" />
			      <input type="hidden" name="error_url" value=".?message=Email+Lỗi+Không+Gửi+Được.&isError=1" />			    


			      <strong><input id="submit_form" type="submit" value="Gửi đi" /></strong>
			    </form>
			    
			    <!-- optional, prevents the submit button from being pressed more than once -->
			    <script>
				var submitButton = document.getElementById("submit_form");
				var form = document.getElementById("email_form");
				form.addEventListener("submit", function (e) {
				    setTimeout(function() {
					submitButton.value = "Sending...";
					submitButton.disabled = true;
				    }, 1);
				});
			    </script> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 Công ty tư vấn đào tạo và giáo dục BUD. Designed by <a target="_blank" href="#" title="Công ty tư vấn đào tạo và giáo dục BUD">BUD</a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/giaoduc.bud"><i class="fa fa-facebook fa-lg" style="color: #0f0"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mousescroll.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>
    
    <script type="text/javascript">
      // Close menu on mobile devices
      $(".navbar-nav li a").click(function(event) {
	$(".navbar-collapse.in").collapse('hide');
      });
    </script>
    
</body>
</html>